html, html body {
  height: 100%; }

:export {
  sophia: gold;
  clara: #ff9f1c;
  marina: #f25f5c;
  extraSmall: 575.98;
  small: 767.98;
  medium: 991.98;
  large: 1199.98; }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("../../fonts/roboto/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto/roboto-v20-latin-700.woff2") format("woff2"), url("../../fonts/roboto/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url("../../fonts/roboto-mono/roboto-mono-v7-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-mono/roboto-mono-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url("../../fonts/roboto-mono/roboto-mono-v7-latin-700.woff2") format("woff2"), url("../../fonts/roboto-mono/roboto-mono-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  color: #160F29;
  font-family: 'Roboto', sans-serif;
  font-size: 12px; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  html body {
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 767.98px) {
      html body {
        display: block; } }
  html .alert {
    display: none;
    margin: 2rem 0;
    padding: 1rem;
    border: 2px solid #336699;
    border-radius: 10px;
    background-color: #bedcee;
    font-size: 1.2em; }
    @media screen and (max-width: 767.98px) {
      html .alert {
        display: block; } }
  html .main {
    flex: 4 1 75%; }
    @media screen and (max-width: 767.98px) {
      html .main {
        flex-basis: 65%; } }
  html .panel {
    display: flex;
    flex: 1 4 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center; }
    html .panel .top > p {
      margin-top: 1rem; }
      html .panel .top > p:first-of-type {
        color: #6c757d;
        font-size: 1.4em; }
    @media screen and (max-width: 767.98px) {
      html .panel .bottom {
        display: none; } }
    @media screen and (max-width: 767.98px) {
      html .panel {
        display: block;
        flex-basis: 35%;
        padding-top: 2rem; } }
  html .settings {
    margin-top: 8rem;
    margin-bottom: 2rem; }
    html .settings h3 {
      margin-bottom: 2rem; }
    @media screen and (max-width: 767.98px) {
      html .settings {
        display: none; } }
    @media screen and (max-width: 767.98px) {
      html .settings + p {
        display: none; } }
  html .select-players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0 2rem; }
    html .select-players figcaption {
      margin-top: 0.33333rem;
      color: #6c757d;
      font-family: 'Roboto Mono', monospace;
      font-size: 100%;
      letter-spacing: 0.5px; }
      @media screen and (max-width: 767.98px) {
        html .select-players figcaption {
          font-size: 80%;
          letter-spacing: normal; } }
    html .select-players .img-player {
      width: 60%;
      height: auto;
      padding: 2px;
      border-radius: 50%; }
      @media screen and (max-width: 767.98px) {
        html .select-players .img-player {
          width: 80%; } }
      html .select-players .img-player:hover {
        cursor: pointer; }
      html .select-players .img-player.active {
        box-shadow: 0 0 0 0.25em; }
    html .select-players #player-sophia {
      color: gold; }
    html .select-players #player-clara {
      color: #ff9f1c; }
    html .select-players #player-marina {
      color: #f25f5c; }
  html h1,
  html h2,
  html h3 {
    margin-bottom: 1rem; }
  html h1 {
    font-size: 2.5em; }
  html h2 {
    font-size: 2em; }
  html h3 {
    font-size: 1.4em; }
  html p {
    font-size: 1.1em; }
  html a:not([class]) {
    color: #336699;
    text-decoration: none; }
    html a:not([class]):hover {
      background-color: #bedcee; }
