:export {
  sophia: gold;
  clara: #ff9f1c;
  marina: #f25f5c;
  extraSmall: 575.98;
  small: 767.98;
  medium: 991.98;
  large: 1199.98; }

.cell-tip {
  width: 250px;
  padding: 1rem;
  transform: translateY(-12px);
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 10px lightgray;
  line-height: 1;
  pointer-events: none; }
  .cell-tip.cell-tip-large {
    transform: translateY(-110px); }
  .cell-tip:after {
    box-sizing: border-box;
    display: inline;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: -1px 0 0;
    transform: rotate(45deg) translateY(-4px) translateX(-3px);
    color: #fff;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    content: "\25E2";
    pointer-events: none; }
  .cell-tip .tip-heading {
    text-align: center; }
  .cell-tip .tip-date {
    font-size: 1.2em;
    font-weight: bold; }
  .cell-tip .tip-games {
    margin-top: 2px; }
  .cell-tip .text-score,
  .cell-tip .y-axis-grid-ticks {
    font-size: 0.8em; }
