$spacing: 2rem;

%full-height {
  height: 100%;
}

// colours
$white: #fff;
$black: #160F29;
$gray: #6c757d;
$blue: #336699;
$light-blue: #bedcee;
$color-sophia: gold;
$color-clara: #ff9f1c;
$color-marina: #f25f5c;

// breakpoints
$extra-small: 600px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;

@mixin max-width($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin extra-small-display($display) {
  @media screen and (max-width: $extra-small) {
    display: $display;
    @content;
  }
}

:export {
  sophia: $color-sophia;
  clara: $color-clara;
  marina: $color-marina;
}
