@import 'global';
@import 'typo';

html {
  @extend %full-height;
  box-sizing: border-box;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $black;

  body {
    @extend %full-height;
    display: flex;
    flex-direction: row;
    @include small-display(block);
  }

  .alert {
    display: none;
    border: 2px solid $blue;
    border-radius: 10px;
    background-color: $light-blue;
    font-size: 1.4em;
    padding: $spacing / 2;
    margin: $spacing 0;
    @include small-display(block);
  }

  .main {
    flex: 4 1 75%;
    @include max-width($small) {
      flex-basis: 65%;
    }
  }

  .panel {
    flex: 1 4 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $spacing * 2 $spacing $spacing / 2;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center;

    .top > p {
      margin-top: $spacing / 2;

      &:first-of-type {
        font-size: 1.4em;
        color: $gray;
      }
    }

    .bottom {
      @include small-display(none);
    }
    @include small-display(block) {
      padding-top: $spacing;
      flex-basis: 35%;
    }
  }

  .settings {
    margin-top: $spacing * 4;
    margin-bottom: $spacing;

    h3 {
      margin-bottom: $spacing;
    }
    @include small-display(none);

    &+p {
      @include small-display(none);
    }
  }

  .select-players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0 $spacing;

    figcaption {
      margin-top: $spacing / 6;
      font-family: 'Roboto Mono', monospace;
      font-size: 100%;
      color: $gray;
      letter-spacing: 0.5px;
      @include max-width($small) {
        font-size: 80%;
        letter-spacing: normal;
      }
    }

    .img-player {
      width: 60%;
      height: auto;
      border-radius: 50%;
      padding: 2px;
      @include max-width($small) {
        width: 80%;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        box-shadow: 0 0 0 0.25em;
      }
    }

    #player-sophia {
      color: $color-sophia;
    }

    #player-clara {
      color: $color-clara;
    }

    #player-marina {
      color: $color-marina;
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: $spacing / 2;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.1em;
  }

  a:not([class]) {
    color: $blue;
    text-decoration: none;

    &:hover {
      background-color: $light-blue;
    }
  }
}
