@import 'global';
@import 'typo';

#chart-container {
  width: 90%;
  max-width: 800px;
  @include max-width($small) {
    margin: $spacing / 2 auto;
  }

  svg {
    display: block;
    width: 95%;
    height: 95%;
    margin: 0 auto;

    .label {
      font-family: 'Roboto Mono', monospace;
    }
  }
}
