@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap'); // TODO: Use this

@import 'global';

html {
  @extend %full-height;
  box-sizing: border-box;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $black;

  body {
    @extend %full-height;
    display: flex;
    flex-direction: row;
  }

  .panel {
    flex: 1 4 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $spacing * 2 $spacing 0;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center;

    .top > p {
      margin-top: $spacing / 2;

      &:first-of-type {
        font-size: 1.3em;
        color: $gray;
      }
    }

    .bottom {
      margin-bottom: $spacing / 2;
    }
  }

  .settings {
    margin-top: $spacing * 4;
  }

  .select-players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    figcaption {
      font-family: 'Roboto Mono', monospace;
      color: $gray;
    }

    .img-player {
      height: 5em;
      width: 5em;
      border-radius: 50%;
      padding: 2px;

      &.active {
        box-shadow: 0 0 0 0.2rem;
      }
    }

    #player-sophia {
      color: $color-sophia;
    }

    #player-clara {
      color: $color-clara;
    }

    #player-marina {
      color: $color-marina;
    }
  }

  .main {
    flex: 4 1 75%;
  }

  h1,
  h2,
  h3 {
    margin-bottom: $spacing / 2;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  a:not([class]) {
    color: $blue;
    text-decoration: none;

    &:hover {
      background-color: $light-blue;
    }
  }
}
