@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");
html, html body {
  height: 100%; }

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #160F29; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  html body {
    display: flex;
    flex-direction: row; }
  html .panel {
    flex: 1 4 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 0;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center; }
    html .panel .top > p {
      margin-top: 1rem; }
      html .panel .top > p:first-of-type {
        font-size: 1.3em;
        color: #6c757d; }
    html .panel .bottom {
      margin-bottom: 1rem; }
  html .settings {
    margin-top: 8rem; }
  html .select-players {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    html .select-players figcaption {
      font-family: 'Roboto Mono', monospace;
      color: #6c757d; }
    html .select-players .img-player {
      height: 5em;
      width: 5em;
      border-radius: 50%;
      padding: 2px; }
      html .select-players .img-player.active {
        box-shadow: 0 0 0 0.2rem; }
    html .select-players #player-sophia {
      color: gold; }
    html .select-players #player-clara {
      color: #ff9f1c; }
    html .select-players #player-marina {
      color: #f25f5c; }
  html .main {
    flex: 4 1 75%; }
  html h1,
  html h2,
  html h3 {
    margin-bottom: 1rem; }
  html h1 {
    font-size: 2.5em; }
  html h2 {
    font-size: 2em; }
  html h3 {
    font-size: 1.4em; }
  html p {
    font-size: 1.2em; }
  html a:not([class]) {
    color: #336699;
    text-decoration: none; }
    html a:not([class]):hover {
      background-color: #bedcee; }
