html, html body {
  height: 100%; }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url("../../fonts/roboto-mono-v7-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-mono-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url("../../fonts/roboto-mono-v7-latin-700.woff2") format("woff2"), url("../../fonts/roboto-mono-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #160F29; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  html body {
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 575.98px) {
      html body {
        display: block; } }
  html .alert {
    display: none;
    border: 2px solid #336699;
    border-radius: 10px;
    background-color: #bedcee;
    font-size: 1.4em;
    padding: 1rem;
    margin: 2rem 0; }
    @media screen and (max-width: 575.98px) {
      html .alert {
        display: block; } }
  html .main {
    flex: 4 1 75%; }
    @media screen and (max-width: 767.98px) {
      html .main {
        flex-basis: 65%; } }
  html #chart-container {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 8rem; }
    @media screen and (max-width: 767.98px) {
      html #chart-container {
        margin: 4rem; } }
    @media screen and (max-width: 575.98px) {
      html #chart-container {
        margin: 1rem; } }
    html #chart-container svg {
      display: block;
      width: 95%;
      height: 95%;
      margin: 0 auto; }
      html #chart-container svg .label {
        font-family: 'Roboto Mono', monospace; }
  html .panel {
    flex: 1 4 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center; }
    html .panel .top > p {
      margin-top: 1rem; }
      html .panel .top > p:first-of-type {
        font-size: 1.4em;
        color: #6c757d; }
    @media screen and (max-width: 575.98px) {
      html .panel .bottom {
        display: none; } }
    @media screen and (max-width: 767.98px) {
      html .panel {
        flex-basis: 35%; } }
    @media screen and (max-width: 575.98px) {
      html .panel {
        display: block;
        padding-top: 2rem; } }
  html .settings {
    margin-top: 8rem;
    margin-bottom: 2rem; }
    html .settings h3 {
      margin-bottom: 2rem; }
    @media screen and (max-width: 575.98px) {
      html .settings {
        display: none; } }
    @media screen and (max-width: 575.98px) {
      html .settings + p {
        display: none; } }
  html .select-players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0 2rem; }
    html .select-players figcaption {
      margin-top: 0.33333rem;
      font-family: 'Roboto Mono', monospace;
      font-size: 100%;
      color: #6c757d;
      letter-spacing: 0.5px; }
      @media screen and (max-width: 767.98px) {
        html .select-players figcaption {
          font-size: 80%;
          letter-spacing: normal; } }
    html .select-players .img-player {
      width: 60%;
      height: auto;
      border-radius: 50%;
      padding: 2px; }
      @media screen and (max-width: 767.98px) {
        html .select-players .img-player {
          width: 80%; } }
      html .select-players .img-player.active {
        box-shadow: 0 0 0 0.25em; }
    html .select-players #player-sophia {
      color: gold; }
    html .select-players #player-clara {
      color: #ff9f1c; }
    html .select-players #player-marina {
      color: #f25f5c; }
  html h1,
  html h2,
  html h3 {
    margin-bottom: 1rem; }
  html h1 {
    font-size: 2.5em; }
  html h2 {
    font-size: 2em; }
  html h3 {
    font-size: 1.4em; }
  html a:not([class]) {
    color: #336699;
    text-decoration: none; }
    html a:not([class]):hover {
      background-color: #bedcee; }
